.audioBnt{
    background-color: rgba(99,0,99,.0);
    width: 157px;
    height: 173px;
    float: left;
    margin-left: 39px;
    margin-bottom: 49px;
    position: relative;
    top: -91%;
    left: 14%;
}