.audioBnt{
background-color: rgba(99,0,99,.0);
width: 147px;
height: 144px;
float: left;
position: relative;
top: -89%;
left: 169px;
margin-left: 19px;
margin-bottom: 76px;
}
.lastLine{
    left:72px;
}