#pag09_ex2{
    float: left;
    position: relative;
    top: -90%;
}
#pag10_ex4{
    float: left;
    position: relative;
    top: -92%;
    left: 15%;
}
#pag10_ex6{
    position: relative;
    top: -52%;
}