#side-bar{
   position: fixed;
    top: -1%;
    z-index: 5;
    height: 110%;
    list-style: none;
	width: 10%;
    
}
.side-bar-close{
	-webkit-transition: width .3s ease-in-out , background-color .2s ease-out 0.3s;
    background-color: #ccc;
}
.side-bar-open{
	-webkit-transition: width .3s ease-in-out 0.1s , background-color .2s ease-out ;
	background-color: #414141;
}
#side-bar li{
    position: relative;
    left:30%;
    top:5%;
    width:40px;
    margin-top:25px;
   
} 
